#root {
  max-width: 1000px;
  min-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-color, crimson); 
  transition: background-color 0.3s ease; 
}

.accordion{
  padding: 1rem;
}

.accordion-button{
  --bs-accordion-btn-color: black;
  --bs-accordion-btn-bg: gray;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: lightgray;
	
}

.accordion-body{
  text-align: left;
  
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: black;
  border: 1px solid #a0a096;
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.125em;
}

.dropdown{
  padding: 0.5rem;
  margin-left: 50% 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: transparent;
  border: 2px solid white;  /* Add a white border */
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 5px; /* Optional: Adds space around the text */
  border-radius: 0; /* Optional: Adds rounded corners */
  outline: none;
}

.close-button:hover {
  color: white;
  border-color: white; /* Change border color on hover */
}

/* Confirmation box asking if they are sure to exit button styling */
.confirmation-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: white;
  padding: 20px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.confirmation-box .button-container {
  display: flex; /* Use flexbox for buttons */
  justify-content: center; /* Center the buttons horizontally */
}

.confirmation-box button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.confirmation-box button:hover {
  background-color: lightgray;
}


/* Styles for the Login with Canvas button */
.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  padding: 10px 20px;
  background-color: #2e77b8; /* Canvas blue color */
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1e5a85; /* Darker blue on hover */
}

.login-button:focus {
  outline: none; /* Remove focus outline */
}
