#root {
  max-width: 1000px;
  min-width: 450px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--app-background, "#8b0000"); /* Use dynamic background color */
  transition: background-color 0.3s ease; 
}

.accordion {
  padding: 0 1rem 1rem;
  width: 450px;
}

.accordion-button {
  --bs-accordion-btn-color: black;
  --bs-accordion-btn-bg: gray;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: lightgray;
}

.accordion-body {
  text-align: left;
}

/*
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: black;
  border: 1px solid #a0a096;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.125em;
}
Residual CSS from obselete library, keeping for backtracking/testing, remove later.*/

.dropdown {
  padding: 0.5rem;
  margin-left: 50%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Close button styling */
.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: transparent;
  border: 2px solid white;  /* Add a white border */
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding: 5px; /* Adds space around the text */
  border-radius: 0; 
  outline: none;
}

.close-button:hover {
  color: white;
  border-color: white; /* Change border color on hover */
}

/* Styles for the Login with Canvas button */
.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-button {
  padding: 10px 20px;
  background-color: #2e77b8; /* Canvas blue color */
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1e5a85; /* Darker blue on hover */
}

.login-button:focus {
  outline: none; /* Remove focus outline */
}


html, body {
  overflow-y: scroll;
  scrollbar-width: none;          /* for Firefox */
  overflow-x: hidden;             /* optional: prevent sideways scroll */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
display: none;                  /* for Chrome, Safari */
}
