/* This file contains styles specific to App.jsx. */
#root {
  max-width: 1000px;
  min-width: 450px;
  background-color: var(--app-background, "#8b0000");
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rebel-remind-logo {
  width: 100%;            
  max-width: 500px;       
  display: block;         
  margin-bottom: 10px;         
  padding: 0;             
  object-fit: contain;    
}



.accordion {
  padding: 1rem;
}

.accordion-button {
  --bs-accordion-btn-color: black;
  --bs-accordion-btn-bg: gray;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: lightgray;
}

.accordion-body {
  text-align: left;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: black;
  border: 1px solid #a0a096;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.125em;
}

.dropdown {
  padding: 0.5rem;
  margin-left: 50%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.settings-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.settings-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

